.main-content {
	max-inline-size: var(--site-inline-size);
	margin-inline: auto;
	.section-lvl-1:not(:last-of-type) {
		margin-block-end: 5em;
	}
	.home-featured-post {
		.post-preview-list {
			display: contents;
			.post-preview-list-item {
				display:block;
				position:relative;
				.post-preview {
					.post-preview-img-link {
						.post-preview-picture {
							.post-preview-img {
								border-radius: 1em;
							}
						}
					}
					.post-preview-text-container {
						display:block;
						position:absolute;
						inline-size: 100%;
						inset-block-end: 0;
						inset-inline:0;
						border-end-start-radius: 1em;
						border-end-end-radius: 1em;
						background: var(--background-color-1-trans);
						backdrop-filter: var(--trans-backdrop-filter);
					}
				}
			}
		}
	}
	.home-categories {
		.category-list {
			list-style: none;
			padding-inline-start: 0;
			display:grid;
			grid-template-columns: repeat(2,1fr);
			gap: 1em;
			.category-list-item {
				text-align: center;
				.category-item-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					block-size: 100%;
					inline-size: 100%;
					border-radius: 1em;
					padding: 1em;
					text-decoration: none;
					.text {
						align-content: center;
						flex-basis: 55%;
						margin-block: 0;
					}
				}
			}
			@media only screen and (min-width: 32em) {
				grid-template-columns: repeat(3,1fr)
			}
			@media only screen and (min-width: 48em) {
				grid-template-columns: repeat(6,1fr)
			}
		}
	}
}
